# Practice Questions Assignment

**Rahul Jauhari**

## TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [305]:
def reverseString(string):
    return string[::-1]

print(reverseString("Rahul"))

luhaR

2. Check if a string is a palindrome.

In [306]:
# Here we can use the above function to check if the string is a palindrome or not

def isPalindrome(string):
    if string == reverseString(string):
        return True
    else:
        return False

print(isPalindrome("racecar"))

True

3. Convert a string to uppercase.

In [307]:
def convertToUppercase(string):
    return string.upper()
    
print(convertToUppercase("rahul"))

RAHUL

4. Convert a string to lowercase.

In [308]:
def convertToLowercase(string):
    return string.lower()
    
print(convertToLowercase("RAHUL"))

rahul

5. Count the number of vowels in a string.

In [309]:
def countVowels(string):
    count = 0
    for letter in convertToLowercase(string):
        if letter in ['a','e','i','o','u']:
            count+=1
    return count

print(countVowels("Hello Everyone"))

6

6. Count the number of consonants in a string.

In [310]:
# we can use the above function to calculate the no. of consonants
def countSpecial(string):
    specials = "@_!#$%^&*()<>?/\\|}{~:] "
    count = 0
    for char in string:
        if char in specials:
            count += 1
    return count

def countConsonants(string):
    return len(string)-countVowels(string)-countSpecial(string)

print(countConsonants("Hey kiddoes"))

6

7. Remove all whitespaces from a string.

In [311]:
def removeSpaces(string):
    a = list(string)
    for char in a:
        if char == ' ':
            a.remove(char)
    return ''.join(a)

print(removeSpaces("Hey Guys What's UP"))

HeyGuysWhat'sUP

In [312]:
def removeSpaces_v2(string):
    return ''.join(string.split())

print(removeSpaces_v2("Hey Guys What's UP"))

HeyGuysWhat'sUP

8. Find the length of a string without using the `len()` function.

In [313]:
def computeLength(string):
    length = 0
    for char in string:
        length += 1
    return length

print(computeLength("Hey Guys"))

8

9. Check if a string contains a specific word.

In [314]:
def displayPointerToCharAtIndex(string,index,minus = False):
    print(string)
    if minus:
        print(' '*(len(string) - abs(index) - 1),'^')
    else:
        print(' '*(index-1),'^')
    
def doesItContain(word,string):
    n = len(word)
    for i in range(len(string)):
        if string[i:i+n] == word:
            print(f"Match Found at: {i}")
            displayPointerToCharAtIndex(string,i)
            return i,i+n
        else:
            return False

doesItContain("Rahul","Hello, my name is Rahul Jauhari")

False

10. Replace a word in a string with another word.

In [315]:
def replaceWord(word,new_word,string):
    index = doesItContain(word,string)
    if index:
        return string[:index[0]]+new_word+string[index[1]:]
    else:
        print("No such word exists in given string")

print(replaceWord('Rahul','Rishab',"Hello, my name is Rahul Jauhari"))

No such word exists in given string
None

11. Count the occurrences of a word in a string.

In [316]:
def countAll(word,string):
    words = string.split()
    count = 0
    for ele in words:
        if ele == word:
            count += 1
    return count

print(countAll("occurrences","Count the occurrences of a word in a string"))

1

12. Find the first occurrence of a word in a string.

In [317]:
def firstOccurrence(word,string):
    n = len(word)
    for i in range(len(string)):
        if string[i:i+n] == word:
            displayPointerToCharAtIndex(string,i)
            return i

firstOccurrence("hope","I have hope in you... hope you get well soon")

I have hope in you... hope you get well soon
       ^

7

13. Find the last occurrence of a word in a string.

In [318]:
def lastOccurrence(word,string):
    n = len(word)
    for i in range(-1,-len(string),-1):
        if string[i:i-n:-1] == word[::-1]:
            index = i-n+1
            displayPointerToCharAtIndex(string,index,minus = True)
            return index, len(string) - abs(index)

lastOccurrence("hope","I have hope in you... hope you get well soon")

I have hope in you... hope you get well soon
                      ^

(-22, 22)

14. Split a string into a list of words.

In [319]:
def splitIntoList(string1):
    string = string1.strip()
    words = []
    space_pair = False
    start = 0
    end = None
    for i in range(len(string)):
        if string[i] == ' ':
            end = i
            space_pair =  not space_pair
        if space_pair:
            words.append(string[start:end])
            space_pair = not space_pair
            start = i+1
        if i == len(string)-1:
            words.append(string[start:])
    return words

splitIntoList("Hello My name is rahul    ")

['Hello', 'My', 'name', 'is', 'rahul']

15. Join a list of words into a string.

In [320]:
def joinToString(arr):
    string = ''
    for ele in arr:
        string += (ele+' ')
    return string.strip()

joinToString(['Hello', 'My', 'name', 'is', 'rahul'])

'Hello My name is rahul'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores..

In [321]:
def changeSeparator(sep,string,prev_sep = ' '):
    for i in range(len(string)):
        if string[i] == prev_sep:
            string = string[:i]+sep+string[i+1:]
    return string

changeSeparator('_','Hello,My,name,is,rahul',prev_sep=',')

'Hello_My_name_is_rahul'

17. Check if a string starts with a specific word or phrase.

In [322]:
def startsWith(phrase,string):
    return string[:len(phrase)] == phrase

startsWith("Rahul","Rahul Jauhari is part of Data Science Batch")

True

18. Check if a string ends with a specific word or phrase.

In [323]:
def endsWith(phrase,string):
    return string[-len(phrase)::1] == phrase
    
endsWith("nce Batch","Rahul Jauhari is part of Data Science Batch")

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [324]:
def convertToTitle(string):
    words = string.split()
    title = ''

    for word in words:
        title += (word[0].upper()+word[1:].lower()+" ")
    return title.strip()

convertToTitle("Rahul Jauhari is part of data science batch")

'Rahul Jauhari Is Part Of Data Science Batch'

20. Find the longest word in a string.

In [325]:
def longestWord(string):
    words = string.split()
    maxLength = 0
    maxWord = None
    for word in words:
        if len(word) > maxLength:
            maxLength = len(word)
            maxWord = word
    return maxWord,maxLength

longestWord("Rahul Jauhari is part of Data Science Batch")

('Jauhari', 7)

In [326]:
def longestWord_v2(string):
    words = string.split()
    sizes = [len(word) for word in words]
    maxSize = max(sizes)
    return [word for word in words if len(word) == maxSize]

longestWord_v2("Rahul Jauhari is part of Data Science Batch")

['Jauhari', 'Science']

21. Find the shortest word in a string.

In [327]:
def shortestWord(string):
    words = string.split()
    sizes = [len(word) for word in words]
    minSize = min(sizes)
    return [word for word in words if len(word) == minSize]

shortestWord("Rahul Jauhari is part of Data Science Batch")

['is', 'of']

22. Reverse the order of words in a string.

In [328]:
def reverseOrderOfWords(string):
    words = string.split()
    i = 0
    j = len(words)-1

    while i < j:
        words[i],words[j] = words[j],words[i]
        i += 1
        j -= 1
    
    return joinToString(words)

reverseOrderOfWords("Rahul Jauhari is part of Data Science Batch")

'Batch Science Data of part is Jauhari Rahul'

23. Check if a string is alphanumeric.

In [329]:
def is_alphanumeric(string):
    alphanumeric_chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"
    for char in string:
        if char not in alphanumeric_chars:
            return False
    return True

input_string = "Hello123"
if is_alphanumeric(input_string):
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

24. Extract all digits from a string:

In [330]:
def extract_digits(string):
    digits = ""
    for char in string:
        if char.isdigit():
            digits += char
    return digits

input_string = "Hello123World456"
digits = extract_digits(input_string)
print(digits)

123456

25. Extract all alphabets from a string:

In [331]:
def extract_alphabets(string):
    alphabets = ""
    for char in string:
        if char.isalpha():
            alphabets += char
    return alphabets

input_string = "Hello123World"
alphabets = extract_alphabets(input_string)
print(alphabets)

HelloWorld

26. Count the number of uppercase letters in a string:

In [332]:
def count_uppercase(string):
    count = 0
    for char in string:
        if char.isupper():
            count += 1
    return count

input_string = "HelloWorld"
uppercase_count = count_uppercase(input_string)
print(uppercase_count)

2

27. Count the number of lowercase letters in a string:

In [333]:
def count_lowercase(string):
    count = 0
    for char in string:
        if char.islower():
            count += 1
    return count

input_string = "HelloWorld"
lowercase_count = count_lowercase(input_string)
print(lowercase_count)

8

28. Swap the case of each character in a string:

In [334]:
def swap_case(string):
    swapped_string = ""
    for char in string:
        if char.isupper():
            swapped_string += char.lower()
        elif char.islower():
            swapped_string += char.upper()
        else:
            swapped_string += char
    return swapped_string

input_string = "HelloWorld"
swapped_string = swap_case(input_string)
print(swapped_string)

hELLOwORLD

29. Remove a specific word from a string:

In [335]:
def remove_word(string, word_to_remove):
    words = string.split()
    new_string = ""
    for word in words:
        if word != word_to_remove:
            new_string += word + " "
    return new_string.strip()

input_string = "This is a sample sentence. Sample is important."
word_to_remove = "Sample"
new_string = remove_word(input_string, word_to_remove)
print(new_string)

This is a sample sentence. is important.

30. Check if a string is a valid email address:

In [336]:
def is_valid_email(email):
    at_count = 0
    for char in email:
        if char == "@":
            at_count += 1
        if at_count > 1 or not char.isalnum() and char not in "@.-_":
            return False
    if email.endswith("."):
        return False
    return at_count == 1

email_address = "example@email.com"
if is_valid_email(email_address):
    print("The email address is valid.")
else:
    print("The email address is not valid.")

The email address is valid.

31. Extract the username from an email address string.

In [337]:
def extractUserFromEmail(email):
    words = email.split('@')
    if len(words) == 2:
        return words[0]
    else:
        return "Invalid Email"

extractUserFromEmail("rj.rahul.jauhari@gmail.com")

'rj.rahul.jauhari'

32. Extract the domain name from an email address string.

In [338]:
def extractDomainFromEmail(email):
    words = email.split('@')
    if len(words) == 2:
        return words[1]
    else:
        return "Invalid Email"

extractDomainFromEmail("rj.rahul.jauhari@gmail.com")

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [339]:
def replace_multiple_spaces(string):
    new_string = ""
    space_seen = False

    for char in string:
        if char == ' ':
            if not space_seen:
                new_string += ' '
                space_seen = True
        else:
            new_string += char
            space_seen = False

    return new_string

input_string = "This   is    an   example  with   multiple   spaces."
new_string = replace_multiple_spaces(input_string)

print(new_string)

This is an example with multiple spaces.

34. Check if a string is a valid URL.

In [340]:
def is_valid_url(url):
    return url.startswith("http://") or url.startswith("https://")

url = "https://www.example.com"
if is_valid_url(url):
    print("The URL is valid.")
else:
    print("The URL is not valid.")

The URL is valid.

35. Extract the protocol (http or https) from a URL string.

In [341]:
def extract_protocol(url):
    protocol = ""
    i = 0
    while i < len(url) and url[i] != ":":
        protocol += url[i]
        i += 1
    return protocol

url = "https://www.example.com"
protocol = extract_protocol(url)
print("The protocol is:", protocol)

The protocol is: https

36. Find the frequency of each character in a string:

In [342]:
def character_frequency(string):
    freq = {}
    for char in string:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
    return freq

input_string = "Hello, World!"
char_freq = character_frequency(input_string)
print(char_freq)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1}

37. Remove all punctuation from a string:

In [343]:
def remove_punctuation(string):
    punctuation = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"
    cleaned_string = ""
    for char in string:
        if char not in punctuation:
            cleaned_string += char
    return cleaned_string

input_string = "Hello, World!"
no_punctuation = remove_punctuation(input_string)
print(no_punctuation)

Hello World

38. Check if a string contains only digits:

In [344]:
def contains_only_digits(string):
    for char in string:
        if not char.isdigit():
            return False
    return True

input_string = "12345"
if contains_only_digits(input_string):
    print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

The string contains only digits.

39. Check if a string contains only alphabets:

    **already done above**

40. Convert a string to a list of characters:

In [345]:
def convertToCharArray(string):
    return list(string)

convertToCharArray("Rahul jauhari")

['R', 'a', 'h', 'u', 'l', ' ', 'j', 'a', 'u', 'h', 'a', 'r', 'i']

41. Check if two strings are anagrams:

In [346]:
def are_anagrams(str1, str2):
    if len(str1) != len(str2):
        return False

    char_count1 = {}
    char_count2 = {}

    for char in str1:
        char_count1[char] = char_count1.get(char, 0) + 1

    for char in str2:
        char_count2[char] = char_count2.get(char, 0) + 1

    return char_count1 == char_count2

string1 = "listen"
string2 = "silent"
if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

44. Find the most frequent word in a string:

In [347]:
def most_frequent_word(string):
    words = string.split()
    word_count = {}
    most_frequent_word = None
    max_count = 0

    for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1

        if word_count[word] > max_count:
            most_frequent_word = word
            max_count = word_count[word]

    return most_frequent_word

input_string = "This is a sample sentence. This is an example."
most_frequent = most_frequent_word(input_string)
print("The most frequent word is:", most_frequent)

The most frequent word is: This

45. Find all unique words in a string:

In [348]:
def unique_words(string):
    words = string.split()
    unique_word_list = []

    for word in words:
        if word not in unique_word_list:
            unique_word_list.append(word)

    return unique_word_list

input_string = "This is a sample sentence. This is an example."
unique_words(input_string)

['This', 'is', 'a', 'sample', 'sentence.', 'an', 'example.']

46. Count the number of syllables in a string.ro
47. Check if a string contains any special characte

**Both questions are already done above**rs.

48. Remove the nth word from a string:

In [349]:
def remove_nth_word(string, n):
    words = string.split()
    if n >= 0 and n < len(words):
        words.pop(n)
        return ' '.join(words)
    return string

input_string = "This is an example sentence."
n = 2
new_string = remove_nth_word(input_string, n)
print(new_string)

This is example sentence.

49. Insert a word at the nth position in a string:

In [350]:
def insert_word_at_nth_position(string, word, n):
    words = string.split()
    if n >= 0 and n <= len(words):
        words.insert(n, word)
        return ' '.join(words)
    return string

input_string = "This is an example sentence."
word_to_insert = "great"
n = 2  
new_string = insert_word_at_nth_position(input_string, word_to_insert, n)
print(new_string)

This is great an example sentence.

50. Convert a CSV string to a list of lists:

In [351]:
def csv_string_to_list_of_lists(csv_string):
    rows = csv_string.split('\n')
    data = []

    for row in rows:
        if row:
            values = row.split(',')
            data.append(values)

    return data

csv_string = "Name, Age, City\nJohn, 30, New York\nAlice, 25, London"
csv_data = csv_string_to_list_of_lists(csv_string)
for row in csv_data:
    print(row)

['Name', ' Age', ' City']
['John', ' 30', ' New York']
['Alice', ' 25', ' London']

## List Based Practice Problem :

1. Create a list with integers from 1 to 10:

In [352]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the len() function:

In [353]:
def find_list_length(my_list):
    length = 0
    for _ in my_list:
        length += 1
    return length
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
length = find_list_length(my_list)
print("Length of the list:", length)

Length of the list: 10

3. Append an element to the end of a list:

In [354]:
def append_to_list(my_list, element):
    my_list[len(my_list):] = [element]

append_to_list(my_list, 11)
print("List after appending:", my_list)

List after appending: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list:

In [355]:
def insert_at_index(my_list, index, element):
    my_list[index:index] = [element]

insert_at_index(my_list, 2, 99)
print("List after inserting at index 2:", my_list)

List after inserting at index 2: [1, 2, 99, 3, 4, 5, 6, 7, 8, 9, 10, 11]

5. Remove an element from a list by its value:

In [356]:
def remove_by_value(my_list, value):
    my_list[:] = [element for element in my_list if element != value]

remove_by_value(my_list, 6)
print("List after removing value 6:", my_list)

List after removing value 6: [1, 2, 99, 3, 4, 5, 7, 8, 9, 10, 11]

6. Remove an element from a list by its index:

In [357]:
def remove_by_index(my_list, index):
    del my_list[index]

remove_by_index(my_list, 4)
print("List after removing element at index 4:", my_list)

List after removing element at index 4: [1, 2, 99, 3, 5, 7, 8, 9, 10, 11]

7. Check if an element exists in a list:

In [358]:
def element_exists(my_list, element):
    for item in my_list:
        if item == element:
            return True
    return False

element = 7
if element_exists(my_list, element):
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

7 exists in the list.

8. Find the index of the first occurrence of an element in a list:

In [359]:
def find_index_of_element(my_list, element):
    index = 0
    for item in my_list:
        if item == element:
            return index
        index += 1
    return -1

element = 9
index = find_index_of_element(my_list, element)
print(f"The index of {element} is: {index}")

The index of 9 is: 7

9. Count the occurrences of an element in a list:

In [360]:
def count_occurrences(my_list, element):
    count = 0
    for item in my_list:
        if item == element:
            count += 1
    return count

element = 7
occurrences = count_occurrences(my_list, element)
print(f"{element} occurs {occurrences} times in the list.")

7 occurs 1 times in the list.

10. Reverse the order of elements in a list:

In [361]:
def reverse_list(my_list):
    reversed_list = []
    for item in my_list:
        reversed_list.insert(0, item)
    return reversed_list

reversed = reverse_list(my_list)
print("Reversed list:", reversed)

Reversed list: [11, 10, 9, 8, 7, 5, 3, 99, 2, 1]

11. Sort a list in ascending order:

In [362]:
def sort_list_ascending(my_list):
    sorted_list = []
    for item in my_list:
        insert_index = 0
        while insert_index < len(sorted_list) and item > sorted_list[insert_index]:
            insert_index += 1
        sorted_list.insert(insert_index, item)
    return sorted_list

sorted_ascending = sort_list_ascending(my_list)
print("List sorted in ascending order:", sorted_ascending)

List sorted in ascending order: [1, 2, 3, 5, 7, 8, 9, 10, 11, 99]

12. Sort a list in descending order:

In [363]:
def sort_list_descending(my_list):
    sorted_list = []
    for item in my_list:
        insert_index = 0
        while insert_index < len(sorted_list) and item < sorted_list[insert_index]:
            insert_index += 1
        sorted_list.insert(insert_index, item)
    return sorted_list

sorted_descending = sort_list_descending(my_list)
print("List sorted in descending order:", sorted_descending)

List sorted in descending order: [99, 11, 10, 9, 8, 7, 5, 3, 2, 1]

13. Create a list of even numbers from 1 to 20:

In [364]:
even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print("Even numbers from 1 to 20:", even_numbers)

Even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20:

In [365]:
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print("Odd numbers from 1 to 20:", odd_numbers)

Odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list:

In [366]:
def find_sum_of_elements(my_list):
    total = 0
    for item in my_list:
        total += item
    return total

sum_of_elements = find_sum_of_elements(my_list)
print("Sum of elements in the list:", sum_of_elements)

Sum of elements in the list: 155

16. Find the maximum value in a list:

In [367]:
def find_maximum_value(my_list):
    if not my_list:
        return None
    max_value = my_list[0]
    for item in my_list:
        if item > max_value:
            max_value = item
    return max_value

max_value = find_maximum_value(my_list)
print("Maximum value in the list:", max_value)

Maximum value in the list: 99

17. Find the minimum value in a list:

In [368]:
def find_minimum_value(my_list):
    if not my_list:
        return None
    min_value = my_list[0]
    for item in my_list:
        if item < min_value:
            min_value = item
    return min_value

min_value = find_minimum_value(my_list)
print("Minimum value in the list:", min_value)

Minimum value in the list: 1

18. Create a list of squares of numbers from 1 to 10:

In [369]:
squares_list = [num ** 2 for num in range(1, 11)]
print("Squares of numbers from 1 to 10:", squares_list)

Squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers:

In [370]:
import random

def create_random_list(length, min_value, max_value):
    random_list = []
    for _ in range(length):
        random_list.append(random.randint(min_value, max_value))
    return random_list

random_numbers = create_random_list(5, 1, 100)
print("Random numbers list:", random_numbers)

Random numbers list: [98, 47, 40, 53, 61]

20. Remove duplicates from a list:

In [371]:
def remove_duplicates(my_list):
    unique_list = []
    for item in my_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

my_list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(my_list_with_duplicates)
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

21. Find the common elements between two lists:

In [372]:
def find_common_elements(list1, list2):
    common_elements = []
    for item in list1:
        if item in list2 and item not in common_elements:
            common_elements.append(item)
    return common_elements

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = find_common_elements(list1, list2)
print("Common elements between two lists:", common_elements)

Common elements between two lists: [3, 4, 5]

22. Find the difference between two lists:

In [373]:
def find_difference(list1, list2):
    difference = []
    for item in list1:
        if item not in list2 and item not in difference:
            difference.append(item)
    for item in list2:
        if item not in list1 and item not in difference:
            difference.append(item)
    return difference

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference = find_difference(list1, list2)
print("Difference between two lists:", difference)

Difference between two lists: [1, 2, 6, 7]

23. Merge two lists:

In [374]:
def merge_lists(list1, list2):
    merged_list = list1[:]
    for item in list2:
        merged_list.append(item)
    return merged_list

list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = merge_lists(list1, list2)
print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2:

In [375]:
def multiply_by_two(my_list):
    for i in range(len(my_list)):
        my_list[i] *= 2

multiply_by_two(my_list)
print("List after multiplying all elements by 2:", my_list)

List after multiplying all elements by 2: [2, 4, 198, 6, 10, 14, 16, 18, 20, 22]

25. Filter out all even numbers from a list:

In [376]:
def filter_out_even_numbers(my_list):
    odd_numbers = [item for item in my_list if item % 2 != 0]
    return odd_numbers

my_list_with_even_and_odd = [1, 2, 3, 4, 5, 6]
filtered_list = filter_out_even_numbers(my_list_with_even_and_odd)
print("List with even numbers filtered out:", filtered_list)

List with even numbers filtered out: [1, 3, 5]

26. Convert a list of strings to a list of integers:

In [377]:
def strings_to_integers(string_list):
    integer_list = []
    for string in string_list:
        integer = 0
        for char in string:
            integer = integer * 10 + ord(char) - ord('0')
        integer_list.append(integer)
    return integer_list

string_list = ["1", "2", "3", "4"]
integer_list = strings_to_integers(string_list)
print("List of integers:", integer_list)

List of integers: [1, 2, 3, 4]

27. Convert a list of integers to a list of strings:

In [378]:
def integers_to_strings(integer_list):
    string_list = []
    for integer in integer_list:
        string = ""
        while integer > 0:
            string = chr((integer % 10) + ord('0')) + string
            integer //= 10
        string_list.append(string)
    return string_list

integer_list = [1, 2, 3, 4]
string_list = integers_to_strings(integer_list)
print("List of strings:", string_list)

List of strings: ['1', '2', '3', '4']

28. Flatten a nested list:

In [379]:
def flatten_nested_list(nested_list):
    flattened_list = []
    for sublist in nested_list:
        for item in sublist:
            flattened_list.append(item)
    return flattened_list

nested_list = [[1, 2], [3, 4], [5, 6]]
flattened_list = flatten_nested_list(nested_list)
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6]

29. Create a list of the first 10 Fibonacci numbers:

In [380]:
def generate_fibonacci_numbers(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)
    return fibonacci_list

n = 10
fibonacci_numbers = generate_fibonacci_numbers(n)
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted:

In [381]:
def is_sorted(my_list):
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            return False
    return True

sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 2, 5]
print("Is the sorted list sorted?", is_sorted(sorted_list))
print("Is the unsorted list sorted?", is_sorted(unsorted_list))

Is the sorted list sorted? True
Is the unsorted list sorted? False

31. Rotate a list to the left by n positions:

In [382]:
def rotate_left(my_list, n):
    n = n % len(my_list)
    rotated_list = my_list[n:] + my_list[:n]
    return rotated_list

original_list = [1, 2, 3, 4, 5]
n = 2
left_rotated = rotate_left(original_list, n)
print("Left rotated by", n, "positions:", left_rotated)

Left rotated by 2 positions: [3, 4, 5, 1, 2]

32. Rotate a list to the right by n positions:

In [383]:
def rotate_right(my_list, n):
    n = n % len(my_list)
    rotated_list = my_list[-n:] + my_list[:-n]
    return rotated_list

original_list = [1, 2, 3, 4, 5]
n = 2
right_rotated = rotate_right(original_list, n)
print("Right rotated by", n, "positions:", right_rotated)

Right rotated by 2 positions: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50:

In [384]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print("Prime numbers up to 50:", prime_numbers)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size n:

In [385]:
def split_into_chunks(my_list, n):
    chunked_list = []
    for i in range(0, len(my_list), n):
        chunked_list.append(my_list[i:i+n])
    return chunked_list

original_list = [1, 2, 3, 4, 5, 6, 7, 8]
chunk_size = 3
chunks = split_into_chunks(original_list, chunk_size)
print("List split into chunks of size", chunk_size, ":", chunks)

List split into chunks of size 3 : [[1, 2, 3], [4, 5, 6], [7, 8]]

35. Find the second largest number in a list:

In [386]:
def find_second_largest(my_list):
    if len(my_list) < 2:
        return None
    largest = second_largest = float('-inf')
    for num in my_list:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num
    return second_largest

original_list = [3, 5, 1, 7, 4, 8]
second_largest = find_second_largest(original_list)
print("Second largest number:", second_largest)

Second largest number: 7

36. Replace every element in a list with its square:
    **Already done above**

37. Convert a list to a dictionary where list elements become keys and their indices become values:

In [387]:
def list_to_dictionary(my_list):
    my_dict = {}
    for i, item in enumerate(my_list):
        my_dict[item] = i
    return my_dict

original_list = ["a", "b", "c"]
dict_from_list = list_to_dictionary(original_list)
print("Dictionary from list:", dict_from_list)

Dictionary from list: {'a': 0, 'b': 1, 'c': 2}

38. Shuffle the elements of a list randomly:

In [388]:
import random

def shuffle_list(my_list):
    for i in range(len(my_list) - 1, 0, -1):
        j = random.randint(0, i)
        my_list[i], my_list[j] = my_list[j], my_list[i]

original_list = [1, 2, 3, 4, 5]
shuffle_list(original_list)
print("Shuffled list:", original_list)

Shuffled list: [4, 5, 1, 2, 3]

39. Create a list of the first 10 factorial numbers:

In [389]:
def calculate_factorial(n):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial

factorial_list = [calculate_factorial(i) for i in range(1, 11)]
print("First 10 factorial numbers:", factorial_list)

First 10 factorial numbers: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common:

In [390]:
def have_common_elements(list1, list2):
    for item1 in list1:
        for item2 in list2:
            if item1 == item2:
                return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if have_common_elements(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists have no common elements.")

The lists have at least one common element.

41. Remove all elements from a list:

In [391]:
def remove_all_elements(my_list):
    my_list[:] = []

original_list = [1, 2, 3, 4, 5]
remove_all_elements(original_list)
print("List after removing all elements:", original_list)

List after removing all elements: []

42. Replace negative numbers in a list with 0:

In [392]:
def replace_negative_with_zero(my_list):
    for i in range(len(my_list)):
        if my_list[i] < 0:
            my_list[i] = 0

original_list = [1, -2, 3, -4, 5]
replace_negative_with_zero(original_list)
print("List with negative numbers replaced by 0:", original_list)

List with negative numbers replaced by 0: [1, 0, 3, 0, 5]

43. Convert a string into a list of words:
44. Convert a list of words into a string:
45. Create a list of the first n powers of 2:
46. Find the longest string in a list of strings:
47. Find the shortest string in a list of strings:


    **already done above**

48. Create a list of the first n triangular numbers:

In [393]:
def generate_triangular_numbers(n):
    triangular_numbers = [n * (n + 1) // 2 for n in range(1, n + 1)]
    return triangular_numbers

n = 5
triangular_list = generate_triangular_numbers(n)
print("First", n, "triangular numbers:", triangular_list)

First 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence:

In [394]:
def has_subsequence(main_list, sub_list):
    if not sub_list:
        return True
    i = 0
    j = 0
    while i < len(main_list) and j < len(sub_list):
        if main_list[i] == sub_list[j]:
            j += 1
        i += 1
    return j == len(sub_list)

main_list = [1, 2, 3, 4, 5]
sub_list = [2, 3, 5]
if has_subsequence(main_list, sub_list):
    print("Main list contains subsequence.")
else:
    print("Main list does not contain subsequence.")

Main list contains subsequence.

50. Swap two elements in a list by their indices:

In [395]:
def swap_elements_by_indices(my_list, index1, index2):
    if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
        my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

original_list = [1, 2, 3, 4, 5]
swap_elements_by_indices(original_list, 1, 3)
print("List after swapping elements:", original_list)

List after swapping elements: [1, 4, 3, 2, 5]

## Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5:

In [396]:
my_tuple = tuple(i for i in range(1,6))

2. Access the third element of a tuple:

In [397]:
my_tuple[2]

3

3. Find the length of a tuple without using len():

In [398]:
def tuple_length(my_tuple):
    count = 0
    for _ in my_tuple:
        count += 1
    return count

my_tuple = (1, 2, 3, 4, 5)
length = tuple_length(my_tuple)

4. Count the occurrences of an element in a tuple:

In [399]:
def count_occurrences(my_tuple, element):
    count = 0
    for item in my_tuple:
        if item == element:
            count += 1
    return count

my_tuple = (1, 2, 2, 3, 4, 2)
element = 2
occurrences = count_occurrences(my_tuple, element)

5. Find the index of the first occurrence of an element in a tuple:

In [400]:
def find_index_of_element(my_tuple, element):
    index = 0
    for item in my_tuple:
        if item == element:
            return index
        index += 1
    return -1

my_tuple = (1, 2, 3, 4, 5)
element = 3
index = find_index_of_element(my_tuple, element)

6. Check if an element exists in a tuple:

In [401]:
def element_exists(my_tuple, element):
    for item in my_tuple:
        if item == element:
            return True
    return False

my_tuple = (1, 2, 3, 4, 5)
element = 3
exists = element_exists(my_tuple, element)

7. Convert a tuple to a list:

In [402]:
def tuple_to_list(my_tuple):
    my_list = []
    for item in my_tuple:
        my_list.append(item)
    return my_list

my_tuple = (1, 2, 3, 4, 5)
my_list = tuple_to_list(my_tuple)

8. Convert a list to a tuple:

In [403]:
def list_to_tuple(my_list):
    my_tuple = tuple(my_list)
    return my_tuple

my_list = [1, 2, 3, 4, 5]
my_tuple = list_to_tuple(my_list)

9. Unpack the elements of a tuple into variables:

In [404]:
my_tuple = (1, 2, 3)
var1, var2, var3 = my_tuple

10. Create a tuple of even numbers from 1 to 10:

In [405]:
even_tuple = (2, 4, 6, 8, 10)
even_tuple

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10:

In [406]:
odd_tuple = (1, 3, 5, 7, 9)
odd_tuple

(1, 3, 5, 7, 9)

12. Concatenate two tuples:

In [407]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
concatenated_tuple

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times:

In [408]:
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
repeated_tuple

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty:

In [409]:
def is_empty(my_tuple):
    return len(my_tuple) == 0

empty_tuple = ()
is_empty(empty_tuple)

True

15. Create a nested tuple:

In [410]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
nested_tuple

((1, 2), (3, 4), (5, 6))

16. Access the first element of a nested tuple:

In [411]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]
first_element

(1, 2)

17. Create a tuple with a single element:

In [412]:
single_element_tuple = (42,)
single_element_tuple

(42,)

18. Compare two tuples:

In [413]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_equal = tuple1 == tuple2

19. Delete a tuple:

In [414]:
my_tuple = (1, 2, 3, 4, 5)
del my_tuple

20. Slice a tuple:

In [415]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]
sliced_tuple

(2, 3, 4)

21. Find the maximum value in a tuple:

In [416]:
def find_max_value(my_tuple):
    max_value = my_tuple[0]
    for item in my_tuple:
        if item > max_value:
            max_value = item
    return max_value

my_tuple = (3, 8, 2, 6, 1)
max_value = find_max_value(my_tuple)
max_value

8

22. Find the minimum value in a tuple:

In [417]:
def find_min_value(my_tuple):
    min_value = my_tuple[0]
    for item in my_tuple:
        if item < min_value:
            min_value = item
    return min_value

my_tuple = (3, 8, 2, 6, 1)
min_value = find_min_value(my_tuple)
min_value

1

23. Convert a string to a tuple of characters:

In [418]:
def string_to_tuple(string):
    char_tuple = tuple(string)
    return char_tuple

input_string = "Hello, World!"
char_tuple = string_to_tuple(input_string)
char_tuple

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string:

In [419]:
def tuple_to_string(char_tuple):
    result = ''.join(char_tuple)
    return result

char_tuple = ('H', 'e', 'l', 'l', 'o')
string = tuple_to_string(char_tuple)
string

'Hello'

25. Create a tuple from multiple data types:

In [420]:
mixed_tuple = (1, 'apple', 3.14, [4, 5])
mixed_tuple

(1, 'apple', 3.14, [4, 5])

26. Check if two tuples are identical:

In [421]:
def are_tuples_identical(tuple1, tuple2):
    if len(tuple1) != len(tuple2):
        return False
    for i in range(len(tuple1)):
        if tuple1[i] != tuple2[i]:
            return False
    return True

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = are_tuples_identical(tuple1, tuple2)
are_identical

True

27. Sort the elements of a tuple:

In [422]:
def sort_tuple(my_tuple):
    sorted_list = list(my_tuple)
    sorted_list.sort()
    sorted_tuple = tuple(sorted_list)
    return sorted_tuple

my_tuple = (3, 1, 4, 1, 5, 9)
sorted_tuple = sort_tuple(my_tuple)
sorted_tuple

(1, 1, 3, 4, 5, 9)

28. Convert a tuple of integers to a tuple of strings:

In [423]:
def integers_to_strings(my_tuple):
    string_tuple = tuple(str(item) for item in my_tuple)
    return string_tuple

integer_tuple = (1, 2, 3)
string_tuple = integers_to_strings(integer_tuple)

29. Convert a tuple of strings to a tuple of integers:

In [424]:
def strings_to_integers(my_tuple):
    integer_tuple = tuple(int(item) for item in my_tuple)
    return integer_tuple

string_tuple = ('1', '2', '3')
integer_tuple = strings_to_integers(string_tuple)

40. Rotate a tuple to the right by n positions:

In [425]:
def rotate_right(my_tuple, n):
    n = n % len(my_tuple)
    rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)
n = 2
right_rotated = rotate_right(original_tuple, n)
right_rotated

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers:

In [426]:
def generate_fibonacci_numbers(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_number = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_number)
    return tuple(fibonacci_list)

n = 5
fibonacci_numbers = generate_fibonacci_numbers(n)
fibonacci_numbers

(0, 1, 1, 2, 3)

42. Create a tuple from user input:

In [427]:
user_input = input("Enter elements separated by spaces: ")
user_input_list = user_input.split()
user_tuple = tuple(user_input_list)
user_tuple

Enter elements separated by spaces:  1 2 4

('1', '2', '4')

43. Swap two elements in a tuple:

In [428]:
def swap_elements(my_tuple, index1, index2):
    tuple_list = list(my_tuple)
    tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
    swapped_tuple = tuple(tuple_list)
    return swapped_tuple

original_tuple = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
swapped_tuple = swap_elements(original_tuple, index1, index2)

44. Reverse the elements of a tuple:

In [429]:
def reverse_tuple(my_tuple):
    reversed_tuple = tuple(my_tuple[::-1])
    return reversed_tuple

original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)
reversed_tuple

(5, 4, 3, 2, 1)

45. Create a tuple of the first n powers of 2:

In [430]:
def generate_powers_of_2(n):
    powers_of_2 = [2 ** i for i in range(1, n + 1)]
    return tuple(powers_of_2)

n = 5
powers_tuple = generate_powers_of_2(n)
powers_tuple

(2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings:

In [431]:
def find_longest_string(tuple_of_strings):
    longest = ""
    for string in tuple_of_strings:
        if len(string) > len(longest):
            longest = string
    return longest

string_tuple = ("apple", "banana", "cherry", "date")
longest_string = find_longest_string(string_tuple)

47. Find the shortest string in a tuple of strings:

In [432]:
def find_shortest_string(tuple_of_strings):
    shortest = tuple_of_strings[0] if tuple_of_strings else ""
    for string in tuple_of_strings:
        if len(string) < len(shortest):
            shortest = string
    return shortest

string_tuple = ("apple", "banana", "cherry", "date")
shortest_string = find_shortest_string(string_tuple)
shortest_string

'date'

48. Create a tuple of the first n triangular numbers:

In [433]:
def generate_triangular_numbers(n):
    triangular_numbers = [n * (n + 1) // 2 for n in range(1, n + 1)]
    return tuple(triangular_numbers)

n = 5
triangular_tuple = generate_triangular_numbers(n)
triangular_tuple

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence:

In [434]:
def has_subsequence(main_tuple, sub_tuple):
    if not sub_tuple:
        return True
    i = 0
    j = 0
    while i < len(main_tuple) and j < len(sub_tuple):
        if main_tuple[i] == sub_tuple[j]:
            j += 1
        i += 1
    return j == len(sub_tuple)

main_tuple = (1, 2, 3, 4, 5)
sub_tuple = (2, 3, 5)
if has_subsequence(main_tuple, sub_tuple):
    print("Main tuple contains subsequence.")
else:
    print("Main tuple does not contain subsequence.")

Main tuple contains subsequence.

50. Create a tuple of alternating 1s and 0s of length n:

In [435]:
def alternating_ones_zeros(n):
    alternating_tuple = tuple(i % 2 for i in range(n))
    return alternating_tuple

n = 10
alternating_tuple = alternating_ones_zeros(n)
alternating_tuple

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5:

In [436]:
my_set = set()
for i in range(1, 6):
    my_set.add(i)
my_set

{1, 2, 3, 4, 5}

2. Add an element to a set:

In [437]:
def add_to_set(my_set, element):
    if element not in my_set:
        my_set.add(element)

my_set = {1, 2, 3}
add_to_set(my_set, 4)
my_set

{1, 2, 3, 4}

3. Remove an element from a set:

In [438]:
def remove_from_set(my_set, element):
    if element in my_set:
        my_set.remove(element)

my_set = {1, 2, 3}
remove_from_set(my_set, 2)
my_set

{1, 3}

4. Check if an element exists in a set:

In [439]:
def element_exists(my_set, element):
    return element in my_set

my_set = {1, 2, 3}
element = 2
exists = element_exists(my_set, element)
exists

True

5. Find the length of a set without using the len() function:

In [440]:
def set_length(my_set):
    count = 0
    for _ in my_set:
        count += 1
    return count

my_set = {1, 2, 3, 4, 5}
length = set_length(my_set)
length

5

6. Clear all elements from a set:

In [441]:
def clear_set(my_set):
    my_set.clear()

my_set = {1, 2, 3}
clear_set(my_set)
my_set

set()

7. Create a set of even numbers from 1 to 10:

In [442]:
even_set = set()
for i in range(2, 11, 2):
    even_set.add(i)
even_set

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10:

In [443]:
odd_set = set()
for i in range(1, 11, 2):
    odd_set.add(i)

9. Find the union of two sets:

In [444]:
def set_union(set1, set2):
    union_set = set1.copy()
    for element in set2:
        union_set.add(element)
    return union_set

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set_union(set1, set2)
union

{1, 2, 3, 4, 5}

10. Find the intersection of two sets:

In [445]:
def set_intersection(set1, set2):
    intersection_set = set()
    for element in set1:
        if element in set2:
            intersection_set.add(element)
    return intersection_set

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection = set_intersection(set1, set2)
intersection

{3, 4}

11. Find the difference between two sets:

In [446]:
def set_difference(set1, set2):
    difference_set = set1.copy()
    for element in set2:
        if element in difference_set:
            difference_set.remove(element)
    return difference_set

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
difference = set_difference(set1, set2)
difference

{1, 2}

12. Check if a set is a subset of another set:

In [447]:
def is_subset(subset, main_set):
    for element in subset:
        if element not in main_set:
            return False
    return True

set1 = {1, 2}
set2 = {1, 2, 3, 4}
is_subset = is_subset(set1, set2)
is_subset

True

13. Check if a set is a superset of another set:

In [448]:
def is_superset(superset, main_set):
    for element in main_set:
        if element not in superset:
            return False
    return True

set1 = {1, 2, 3, 4}
set2 = {1, 2}
is_superset = is_superset(set1, set2)
is_superset

True

14. Create a set from a list:

In [449]:
def list_to_set(my_list):
    my_set = set()
    for item in my_list:
        my_set.add(item)
    return my_set

my_list = [1, 2, 3, 4, 5]
my_set = list_to_set(my_list)

15. Convert a set to a list:

In [450]:
def set_to_list(my_set):
    my_list = []
    for item in my_set:
        my_list.append(item)
    return my_list

my_set = {1, 2, 3, 4, 5}
my_list = set_to_list(my_set)
my_list

[1, 2, 3, 4, 5]

17. Pop an element from a set:

In [451]:
def pop_element(my_set):
    if not my_set:
        return None
    element = next(iter(my_set))
    my_set.remove(element)
    return element

my_set = {1, 2, 3, 4, 5}
popped_element = pop_element(my_set)
my_set

{2, 3, 4, 5}

18. Check if two sets have no elements in common:

In [452]:
def no_common_elements(set1, set2):
    for element in set1:
        if element in set2:
            return False
    return True

set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common = no_common_elements(set1, set2)
no_common

True

19. Find the symmetric difference between two sets:

In [453]:
def symmetric_difference(set1, set2):
    diff1 = set_difference(set1, set2)
    diff2 = set_difference(set2, set1)
    symmetric_diff = set_union(diff1, diff2)
    return symmetric_diff

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_diff = symmetric_difference(set1, set2)
symmetric_diff

{1, 2, 5, 6}

20. Update a set with elements from another set:

In [454]:
def update_set(main_set, other_set):
    for element in other_set:
        main_set.add(element)

set1 = {1, 2, 3}
set2 = {3, 4, 5}
update_set(set1, set2)
set1

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers:

In [455]:
prime_set = set()
for num in range(2, 12):
    for i in range(2, num):
        if (num % i) == 0:
            break
        else:
            prime_set.add(num)
        if len(prime_set) == 5:
            break

print(prime_set)

{3, 5, 7, 9, 11}

22. Check if two sets are identical:

In [456]:
def are_sets_identical(set1, set2):
    if len(set1) != len(set2):
        return False
    for element in set1:
        if element not in set2:
            return False
    return True

set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_identical = are_sets_identical(set1, set2)
are_identical

True

23. Create a frozen set:

In [457]:
def create_frozen_set(my_set):
    return frozenset(my_set)

my_set = {1, 2, 3, 4, 5}
frozen_set = create_frozen_set(my_set)
frozen_set

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set:

In [458]:
def are_disjoint(set1, set2):
    for element in set1:
        if element in set2:
            return False
    return True

set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = are_disjoint(set1, set2)
are_disjoint

True

25. Create a set of squares of numbers from 1 to 5:

In [459]:
squares_set = set()
for i in range(1, 6):
    squares_set.add(i * i)
squares_set

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set:

In [460]:
def filter_even_numbers(my_set):
    even_set = set()
    for element in my_set:
        if element % 2 != 0:
            even_set.add(element)
    return even_set

my_set = {1, 2, 3, 4, 5, 6}
even_set = filter_even_numbers(my_set)
even_set

{1, 3, 5}

27. Multiply all elements in a set by 2:

In [461]:
def multiply_by_2(my_set):
    multiplied_set = set()
    for element in my_set:
        multiplied_set.add(element * 2)
    return multiplied_set

my_set = {1, 2, 3, 4, 5}
multiplied_set = multiply_by_2(my_set)
multiplied_set

{2, 4, 6, 8, 10}

28. Create a set of random numbers:

In [462]:
import random

def create_random_set(size, start, end):
    random_set = set()
    for _ in range(size):
        random_set.add(random.randint(start, end))
    return random_set

random_set = create_random_set(5, 1, 10)
random_set

{4, 5, 6, 8}

29. Check if a set is empty:

In [463]:
def is_empty(my_set):
    for _ in my_set:
        return False
    return True

empty_set = set()
is_empty_set = is_empty(empty_set)
is_empty_set

True

30. Create a nested set (hint: use frozenset):

In [464]:
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5})}
nested_set

{frozenset({3, 4, 5}), frozenset({1, 2})}

31. Remove an element from a set using the discard method:

In [465]:
def remove_element_with_discard(my_set, element):
    my_set.discard(element)

my_set = {1, 2, 3}
remove_element_with_discard(my_set, 2)
my_set

{1, 3}

32. Compare two sets:

In [466]:
def compare_sets(set1, set2):
    if len(set1) != len(set2):
        return False
    for element in set1:
        if element not in set2:
            return False
    return True

set1 = {1, 2, 3}
set2 = {1, 2, 3}
are_equal = compare_sets(set1, set2)
are_equal

True

33. Create a set from a string:

In [467]:
def string_to_set(my_string):
    my_set = set(my_string)
    return my_set

my_string = "hello"
my_set = string_to_set(my_string)
my_set

{'e', 'h', 'l', 'o'}

34. Convert a set of strings to a set of integers:

In [468]:
def set_of_strings_to_set_of_integers(string_set):
    integer_set = set()
    for string in string_set:
        try:
            integer_set.add(int(string))
        except ValueError:
            continue
    return integer_set

string_set = {"1", "2", "3", "four", "5"}
integer_set = set_of_strings_to_set_of_integers(string_set)
integer_set

{1, 2, 3, 5}

36. Create a set from a tuple:

In [469]:
def tuple_to_set(my_tuple):
    my_set = set(my_tuple)
    return my_set

my_tuple = (1, 2, 3, 4, 5)
my_set = tuple_to_set(my_tuple)
my_set

{1, 2, 3, 4, 5}

38. Find the maximum value in a set:

In [470]:
def max_value_in_set(my_set):
    max_val = float("-inf")
    for element in my_set:
        if element > max_val:
            max_val = element
    return max_val

my_set = {5, 1, 3, 2, 4}
max_value = max_value_in_set(my_set)
max_value

5

39. Find the minimum value in a set:

In [471]:
def min_value_in_set(my_set):
    min_val = float("inf")
    for element in my_set:
        if element < min_val:
            min_val = element
    return min_val

my_set = {5, 1, 3, 2, 4}
min_value = min_value_in_set(my_set)
min_value

1

40. Create a set from user input:

In [472]:
def create_set_from_input():
    my_set = set()
    while True:
        element = input("Enter an element (or 'done' to finish): ")
        if element == 'done':
            break
        my_set.add(element)
    return my_set

user_set = create_set_from_input()
user_set

Enter an element (or 'done' to finish):  wer
Enter an element (or 'done' to finish):  wgr
Enter an element (or 'done' to finish):  23
Enter an element (or 'done' to finish):  sferg
Enter an element (or 'done' to finish):  reg
Enter an element (or 'done' to finish):
Enter an element (or 'done' to finish):  ert
Enter an element (or 'done' to finish):  34
Enter an element (or 'done' to finish):  65
Enter an element (or 'done' to finish):  done

{'', '23', '34', '65', 'ert', 'reg', 'sferg', 'wer', 'wgr'}

41. Check if the intersection of two sets is empty:

In [473]:
def is_intersection_empty(set1, set2):
    for element in set1:
        if element in set2:
            return False
    return True

set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_empty_intersection = is_intersection_empty(set1, set2)
is_empty_intersection

True

43. Remove duplicates from a list using sets:

In [474]:
def remove_duplicates_with_sets(my_list):
    my_set = set()
    no_duplicates_list = []
    for item in my_list:
        if item not in my_set:
            no_duplicates_list.append(item)
            my_set.add(item)
    return no_duplicates_list

my_list = [1, 2, 2, 3, 4, 4, 5]
list_without_duplicates = remove_duplicates_with_sets(my_list)
list_without_duplicates

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count:

In [475]:
def have_same_elements(set1, set2):
    if len(set1) != len(set2):
        return False
    for element in set1:
        if element not in set2:
            return False
    return True

set1 = {1, 2, 3, 3, 4}
set2 = {4, 2, 3, 1}
have_same_elements_result = have_same_elements(set1, set2)
have_same_elements_result

True

45. Create a set of the first n powers of 2:

In [476]:
def powers_of_2_set(n):
    powers_set = set()
    for i in range(1, n + 1):
        powers_set.add(2 ** i)
    return powers_set

n = 5
powers_set = powers_of_2_set(n)
powers_set

{2, 4, 8, 16, 32}

46. Find the common elements between a set and a list:

In [477]:
def common_elements_set_list(my_set, my_list):
    common_elements = set()
    for element in my_set:
        if element in my_list:
            common_elements.add(element)
    return common_elements

my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = common_elements_set_list(my_set, my_list)
common_elements

{3, 4, 5}

47. Create a set of the first n triangular numbers:

In [478]:
def triangular_numbers_set(n):
    triangular_set = set()
    for i in range(1, n + 1):
        triangular_set.add(i * (i + 1) // 2)
    return triangular_set

n = 5
triangular_set = triangular_numbers_set(n)
triangular_set

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset:

In [479]:
def is_subset_of_set(subset, main_set):
    return subset.issubset(main_set)

set1 = {1, 2}
set2 = {1, 2, 3, 4}
is_subset_result = is_subset_of_set(set1, set2)
is_subset_result

True

49. Create a set of alternating 1s and 0s of length `n`.

In [480]:
def alternating_set(n):
    alternating = set()
    for i in range(n):
        alternating.add(i % 2)
    return alternating

n = 10 
alternating_set_n = alternating_set(n)
alternating_set_n

{0, 1}

50. Merge multiple sets into one:

In [481]:
def merge_sets(sets_list):
    merged_set = set()
    for my_set in sets_list:
        merged_set.update(my_set)
    return merged_set

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = merge_sets([set1, set2, set3])
merged_set

{1, 2, 3, 4, 5, 6, 7}